# XML, HTML, and Web Scraping

JSON and XML are two different ways to represent hierarchical data. Which one is better? There are lots of articles online which discuss similarities and differences between JSON and XML and their advantages and disadvantages. Both formats are still in current usage, so it is good to be familiar with both. However, JSON is more common, so we'll focus on working with JSON representations of hierarchical data.

The reading covered an example of using Beautiful Soup to parse XML. Rather than doing another example XML now, we'll skip straight to scraping HTML from a webpage. Both HTML and XML can be parsed in a similar way with Beautiful Soup.

In [1]:
import pandas as pd

## Scraping an HTML table with Beautiful Soup

Open the URL https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population and scroll down until you see a table of the cities in the U.S. with population over 100,000 (as of Jul 1, 2022). We'll use Beautiful Soup to scrape information from this table.

Read in the HTML from the ULR using the `requests` library.

In [31]:
import requests

url = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"

response = requests.get("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population")

In [32]:
URL = "https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population"
HEADERS = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}

response = requests.get(URL, headers=HEADERS)

Use Beautiful Soup to parse this string into a tree called `soup`

In [33]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

To find an HTML tag corresponding to a specific element on a webpage, right-click on it and choose "Inspect element". Go to the cities table Wikipedia page and do this now.

You should find that the cities table on the Wikipedia page corresponds to the element

```
<table class="wikitable sortable jquery-tablesorter" style="text-align:center">
```

There are many `<table>` tags on the page.

In [34]:
len(soup.find_all("table"))

10

We can use attributes like `class=` and `style=` to narrow down the list.

In [35]:
len(soup.select_one("table",
                  attrs={
                      "class": "sortable wikitable sticky-header multi static row-numbers sort-under col1left col2center jquery-tablesorter",
                      "style": "text-align:right"}
                  ))

1

At this point, you can manually inspect the tables on the webpage to find that the one we want is the first one (see `[0]` below). We'll store this as `table`.

In [42]:
table = soup.find_all("table",
                  attrs={
                      "class" : "sortable wikitable sticky-header-multi static-row-numbers sort-under col1left col2center",
                      "style" : "text-align:right"}
                  )[0]

**Now you will write code to scrape the information in `table` to create a Pandas data frame with one row for each city and columns for: city, state, population (2022 estimate), and 2020 land area (sq mi).** Refer to the Notes/suggestions below as you write your code. A few Hints are provided further down, but try coding first before looking at the hints.

Notes/suggestions:

- Use as a guide the code from the reading that produced the data frame of Statistics faculty
- Inspect the page source as you write your code
- You will need to write a loop to get the information for all cities, but you might want to try just scraping the info for New York first
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `.get_text(strip = True)` instead of `.text`
- Don't forget to convert to a Pandas Data Frame; it should have 333 rows and 4 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it --- e.g., what is the population density for all cities in CA? --- then you would need to clean the data first (to clean strings and convert to quantitative). (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [ ]:
# YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

In [45]:
rows = table.find_all("tr")

cities = []
states = []
populations = []
areas = []

for rows in rows[1:]:
    columns = rows.find_all("td")
    if len(columns)>0:
      cities.append(columns[0].get_text(strip=True))
      states.append(columns[1].get_text(strip=True))
      populations.append(columns[2].get_text(strip=True))
      areas.append(columns[5].get_text(strip=True))

In [46]:
df = pd.DataFrame({
    "City": cities,
    "State": states,
    "Population": populations,
    "Area": areas
})
df.head()

          City State Population   Area
0  New York[c]    NY  8,478,072  300.5
1  Los Angeles    CA  3,878,704  469.5
2      Chicago    IL  2,721,308  227.7
3      Houston    TX  2,390,125  640.4
4      Phoenix    AZ  1,673,164  518.0

Hints:

- Each city is a row in the table; find all the `<tr>` tags to find all the cities
- Look for the `<td>` tag to see table entries within a row
- The rank column is represented by `<th>` tags, rather than `<td>` tags. So within a row, the first (that is, `[0]`) `<td>` tag corresponds to the city name.

## Aside: Scraping an HTML table with Pandas

The Pandas command `read_html` can be used to scrape information from an HTML table on a webpage.

We can call `read_html` on the URL.

In [50]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", storage_options={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'})

[                    Population tables of U.S. cities
 0  The skyline of New York City, the most populou...
 1                                             Cities
 2  PopulationAreaDensityEthnic identityForeign-bo...
 3                                        Urban areas
 4             Populous cities and metropolitan areas
 5                                 Metropolitan areas
 6  184 combined statistical areas935 core-based s...
 7                                        Megaregions
 8  Related population listsNorth American metro a...
 9                                                vte,
     0                               1
 0 NaN                   State capital
 1 NaN            State's largest city
 2 NaN  State capital and largest city
 3 NaN                 Federal capital,
             City  ST 2024 estimate 2020 census  Change 2020 land area          \
             City  ST 2024 estimate 2020 census  Change            mi2     km2
 0    New York[c]  NY       8478072     8804190  −3.70%          300.5   778.3
 1    Los Angeles  CA       3878704     3898747  −0.51%          469.5  1216.0
 2        Chicago  IL       2721308     2746388  −0.91%          227.7   589.7
 3        Houston  TX       2390125     2304580  +3.71%          640.4  1658.6
 4        Phoenix  AZ       1673164     1608139  +4.04%          518.0  1341.6
 ..           ...  ..           ...         ...     ...            ...     ...
 341      Deltona  FL        100513       93692  +7.28%           37.3    96.6
 342  Federal Way  WA        100252      101030  −0.77%           22.3    57.8
 343   San Angelo  TX        100159       99893  +0.27%           59.7   154.6
 344        Tracy  CA        100136       93000  +7.67%           25.9    67.1
 345      Sunrise  FL        100128       97335  +2.87%           16.2    42.0

     2020 density                                      Location
            / mi2  / km2                               Location
 0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
 1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..           ...    ...                                    ...
 341         2512    970    28°55′N 81°13′W﻿ / ﻿28.91°N 81.21°W
 342         4530   1750  47°19′N 122°20′W﻿ / ﻿47.31°N 122.34°W
 343         1673    646  31°26′N 100°27′W﻿ / ﻿31.44°N 100.45°W
 344         3591   1386  37°44′N 121°27′W﻿ / ﻿37.73°N 121.45°W
 345         6008   2320    26°10′N 80°16′W﻿ / ﻿26.17°N 80.26°W

 [346 rows x 10 columns],
          Population  Number of municipal governments
 0        1,000,000+                               11
 1   900,000–999,999                                4
 2   800,000–899,999                                2
 3   700,000–799,999                                5
 4   600,000–699,999                                7
 5   500,000–599,999                                9
 6   400,000–499,999                               14
 7   300,000–399,999                               20
 8   200,000–299,999                               56
 9   100,000–199,999                              218
 10            Total                              346,
                                                 State  Number of listed cities
 0                                          California                       76
 1                                               Texas                       44
 2                                             Florida                       27
 3                                             Arizona                       13
 4                                            Colorado                       12
 5                          North Carolina, Washington                       10
 6                                       Massachusetts                        9
 7               Georgia, Illinois, Michigan, Virginia                        8
 8                                          New Jersey                        7
 9   Indiana, Missouri, New York, Ohio, Oregon, Ten...                        6
 10         Alabama, Connecticut, Kansas, Nevada, Utah                        5
 11                                Louisiana, Oklahoma                        4
 12  Idaho, Iowa, Minnesota, New Mexico, Pennsylvan...                        3
 13                       Arkansas, Kentucky, Nebraska                        2
 14  Alaska, District of Columbia, Hawaii, Maryland...                        1
 15   Delaware, Maine, Vermont, West Virginia, Wyoming                        0,
   Municipio  2024 estimate  2020 census  Change 2020 land area  \
 0  San Juan         332454       342259  −2.86%     39.8 sq mi
 1   Bayamón         181152       185187  −2.18%     27.0 sq mi
 2  Carolina         150679       154815  −2.67%     20.7 sq mi
 3     Ponce         129659       137491  −5.70%     28.4 sq mi
 4    Caguas         124628       127244  −2.06%     10.9 sq mi

   2020 land area.1  2020 density 2020 density.1  \
 0        103.1 km2   8,599/sq mi      3,320/km2
 1         69.9 km2   6,859/sq mi      2,648/km2
 2         53.6 km2   7,479/sq mi      2,888/km2
 3         73.6 km2   4,841/sq mi      1,869/km2
 4         28.2 km2  11,674/sq mi      4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
    Census- designated place  ST 2020 census 2010 census    Change  \
    Census- designated place  ST 2020 census 2010 census    Change
 0                 Arlington  VA      238643      207627   +14.94%
 1                Enterprise  NV      221831      108481  +104.49%
 2             Spring Valley  NV      215597      178395   +20.85%
 3             Sunrise Manor  NV      205618      189372    +8.58%
 4                  Paradise  NV      191238      223167   −14.31%
 5                  Metairie  LA      143507      138481    +3.63%
 6          East Los Angeles  CA      118786      126496    −6.10%
 7                   Brandon  FL      114626      103483   +10.77%
 8             The Woodlands  TX      114436       93847   +21.94%
 9              Lehigh Acres  FL      114287       86784   +31.69%
 10              Spring Hill  FL      113568       98621   +15.16%
 11                Riverview  FL      107396       71050   +51.16%
 12                 Columbia  MD      104681       99615    +5.09%
 13          Highlands Ranch  CO      103444       96713    +6.96%

    2020 land area          2020 density        \
               mi2      km2        / mi2 / km2
 0            26.0   67.340         9179  3544
 1            66.0  170.939         3361  1298
 2            35.5   91.945         6073  2345
 3            33.7   87.283         6101  2356
 4            42.4  109.815         4510  1740
 5            23.3   60.347         6159  2378
 6             7.5   19.425        15838  6115
 7            33.1   85.729         3463  1337
 8            43.3  112.146         2643  1020
 9            92.7  240.092         1233   476
 10           59.9  155.140         1896   732
 11           46.2  119.657         2325   898
 12           31.9   82.621         3282  1267
 13           24.3   62.937         4257  1644

                                  Location
                                  Location
 0     38°53′N 77°06′W﻿ / ﻿38.88°N 77.10°W
 1   36°01′N 115°14′W﻿ / ﻿36.01°N 115.23°W
 2   36°06′N 115°16′W﻿ / ﻿36.10°N 115.26°W
 3   36°11′N 115°03′W﻿ / ﻿36.18°N 115.05°W
 4   36°05′N 115°08′W﻿ / ﻿36.09°N 115.14°W
 5     30°00′N 90°11′W﻿ / ﻿30.00°N 90.18°W
 6   34°02′N 118°10′W﻿ / ﻿34.03°N 118.17°W
 7     27°56′N 82°18′W﻿ / ﻿27.94°N 82.30°W
 8     30°10′N 95°31′W﻿ / ﻿30.17°N 95.51°W
 9     26°37′N 81°38′W﻿ / ﻿26.61°N 81.64°W
 10    28°29′N 82°32′W﻿ / ﻿28.48°N 82.53°W
 11    27°49′N 82°18′W﻿ / ﻿27.82°N 82.30°W
 12    39°12′N 76°52′W﻿ / ﻿39.20°N 76.86°W
 13  39°32′N 104°58′W﻿ / ﻿39.54°N 104.97°W  ,
               City  ST  2024 estimate  Peak population % decline from peak  \
 0        Allegheny  PA            NaN           129896                 NaN
 1         Brooklyn  NY            NaN           806343                 NaN
 2           Camden  NJ        71749.0           124555             −42.40%
 3           Canton  OH        69211.0           116912             −40.80%
 4   Citrus Heights  CA        86909.0           107439             −19.11%
 5           Duluth  MN        87986.0           107312             −18.01%
 6             Erie  PA        92940.0           138440             −32.87%
 7       Fall River  MA        94689.0           120485             −21.41%
 8            Flint  MI        79735.0           196940             −59.51%
 9             Gary  IN        67555.0           178320             −62.12%
 10         Hammond  IN        76030.0           111698             −31.93%
 11         Livonia  MI        93113.0           110109             −15.44%
 12   Niagara Falls  NY        47512.0           102394             −53.60%
 13         Norwalk  CA        98230.0           105549              −6.93%
 14           Parma  OH        79350.0           100216             −20.82%
 15      Portsmouth  VA        96482.0           114773             −15.94%
 16         Reading  PA        96000.0           111171             −13.65%
 17         Roanoke  VA        97912.0           100220              −2.30%
 18        Scranton  PA        75905.0           143333             −47.04%
 19      Somerville  MA        82149.0           103908             −20.94%
 20      St. Joseph  MO        71098.0           102979             −30.96%
 21         Trenton  NJ        91193.0           128009             −28.76%
 22           Utica  NY        63660.0           101740             −37.43%
 23      Wilmington  DE        73176.0           112504             −34.96%
 24      Youngstown  OH        59123.0           170002             −65.22%

     Peak year Unnamed: 6
 0        1907       [ab]
 1        1898       [ac]
 2        1950        NaN
 3        1950        NaN
 4        1990        NaN
 5        1960        NaN
 6        1960        NaN
 7        1920        NaN
 8        1960        NaN
 9        1960        NaN
 10       1960        NaN
 11       1970        NaN
 12       1960        NaN
 13       2010        NaN
 14       1970        NaN
 15       1960        NaN
 16       1930        NaN
 17       1980        NaN
 18       1930        NaN
 19       1930        NaN
 20       1900       [ad]
 21       1950        NaN
 22       1930        NaN
 23       1940        NaN
 24       1930        NaN  ,
   vteThe 100 most populous cities of the United States  \
 0  New York, New York Los Angeles, California Chi...
 1                                                NaN
 2  Cities ranked by United States Census Bureau p...

   vteThe 100 most populous cities of the United States.1  \
 0  New York, New York Los Angeles, California Chi...
 1  New York, New York Los Angeles, California Chi...
 2  Cities ranked by United States Census Bureau p...

                                           Unnamed: 2  \
 0                                                NaN
 1  Detroit, Michigan Louisville, Kentucky Portlan...
 2                                                NaN

                                           Unnamed: 3  \
 0                                                NaN
 1  Aurora, Colorado Wichita, Kansas Cleveland, Oh...
 2                                                NaN

                                           Unnamed: 4
 0                                                NaN
 1  Gilbert, Arizona Madison, Wisconsin Reno, Neva...
 2                                                NaN  ,
     0                                                  1  \
 0 NaN  New York, New York Los Angeles, California Chi...

                                                    2  \
 0  Detroit, Michigan Louisville, Kentucky Portlan...

                                                    3  \
 0  Aurora, Colorado Wichita, Kansas Cleveland, Oh...

                                                    4
 0  Gilbert, Arizona Madison, Wisconsin Reno, Neva...  ]

However, this scrapes all the tables on the webpage, not just the one we want. As with Beautiful Soup, we can narrow the search by specifying the table attributes.

In [56]:
pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", storage_options={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}, attrs = {'class': 'wikitable', "style": "text-align:right"})

[            City  ST 2024 estimate 2020 census  Change 2020 land area          \
             City  ST 2024 estimate 2020 census  Change            mi2     km2
 0    New York[c]  NY       8478072     8804190  −3.70%          300.5   778.3
 1    Los Angeles  CA       3878704     3898747  −0.51%          469.5  1216.0
 2        Chicago  IL       2721308     2746388  −0.91%          227.7   589.7
 3        Houston  TX       2390125     2304580  +3.71%          640.4  1658.6
 4        Phoenix  AZ       1673164     1608139  +4.04%          518.0  1341.6
 ..           ...  ..           ...         ...     ...            ...     ...
 341      Deltona  FL        100513       93692  +7.28%           37.3    96.6
 342  Federal Way  WA        100252      101030  −0.77%           22.3    57.8
 343   San Angelo  TX        100159       99893  +0.27%           59.7   154.6
 344        Tracy  CA        100136       93000  +7.67%           25.9    67.1
 345      Sunrise  FL        100128       97335  +2.87%           16.2    42.0

     2020 density                                      Location
            / mi2  / km2                               Location
 0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
 1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
 2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
 3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
 4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
 ..           ...    ...                                    ...
 341         2512    970    28°55′N 81°13′W﻿ / ﻿28.91°N 81.21°W
 342         4530   1750  47°19′N 122°20′W﻿ / ﻿47.31°N 122.34°W
 343         1673    646  31°26′N 100°27′W﻿ / ﻿31.44°N 100.45°W
 344         3591   1386  37°44′N 121°27′W﻿ / ﻿37.73°N 121.45°W
 345         6008   2320    26°10′N 80°16′W﻿ / ﻿26.17°N 80.26°W

 [346 rows x 10 columns],
   Municipio  2024 estimate  2020 census  Change 2020 land area  \
 0  San Juan         332454       342259  −2.86%     39.8 sq mi
 1   Bayamón         181152       185187  −2.18%     27.0 sq mi
 2  Carolina         150679       154815  −2.67%     20.7 sq mi
 3     Ponce         129659       137491  −5.70%     28.4 sq mi
 4    Caguas         124628       127244  −2.06%     10.9 sq mi

   2020 land area.1  2020 density 2020 density.1  \
 0        103.1 km2   8,599/sq mi      3,320/km2
 1         69.9 km2   6,859/sq mi      2,648/km2
 2         53.6 km2   7,479/sq mi      2,888/km2
 3         73.6 km2   4,841/sq mi      1,869/km2
 4         28.2 km2  11,674/sq mi      4,507/km2

                               Location
 0  18°24′N 66°04′W﻿ / ﻿18.40°N 66.06°W
 1  18°23′N 66°10′W﻿ / ﻿18.38°N 66.16°W
 2  18°25′N 65°59′W﻿ / ﻿18.41°N 65.98°W
 3  18°00′N 66°37′W﻿ / ﻿18.00°N 66.62°W
 4  18°14′N 66°02′W﻿ / ﻿18.23°N 66.04°W  ,
               City  ST  2024 estimate  Peak population % decline from peak  \
 0        Allegheny  PA            NaN           129896                 NaN
 1         Brooklyn  NY            NaN           806343                 NaN
 2           Camden  NJ        71749.0           124555             −42.40%
 3           Canton  OH        69211.0           116912             −40.80%
 4   Citrus Heights  CA        86909.0           107439             −19.11%
 5           Duluth  MN        87986.0           107312             −18.01%
 6             Erie  PA        92940.0           138440             −32.87%
 7       Fall River  MA        94689.0           120485             −21.41%
 8            Flint  MI        79735.0           196940             −59.51%
 9             Gary  IN        67555.0           178320             −62.12%
 10         Hammond  IN        76030.0           111698             −31.93%
 11         Livonia  MI        93113.0           110109             −15.44%
 12   Niagara Falls  NY        47512.0           102394             −53.60%
 13         Norwalk  CA        98230.0           105549              −6.93%
 14           Parma  OH        79350.0           100216             −20.82%
 15      Portsmouth  VA        96482.0           114773             −15.94%
 16         Reading  PA        96000.0           111171             −13.65%
 17         Roanoke  VA        97912.0           100220              −2.30%
 18        Scranton  PA        75905.0           143333             −47.04%
 19      Somerville  MA        82149.0           103908             −20.94%
 20      St. Joseph  MO        71098.0           102979             −30.96%
 21         Trenton  NJ        91193.0           128009             −28.76%
 22           Utica  NY        63660.0           101740             −37.43%
 23      Wilmington  DE        73176.0           112504             −34.96%
 24      Youngstown  OH        59123.0           170002             −65.22%

     Peak year Unnamed: 6
 0        1907       [ab]
 1        1898       [ac]
 2        1950        NaN
 3        1950        NaN
 4        1990        NaN
 5        1960        NaN
 6        1960        NaN
 7        1920        NaN
 8        1960        NaN
 9        1960        NaN
 10       1960        NaN
 11       1970        NaN
 12       1960        NaN
 13       2010        NaN
 14       1970        NaN
 15       1960        NaN
 16       1930        NaN
 17       1980        NaN
 18       1930        NaN
 19       1930        NaN
 20       1900       [ad]
 21       1950        NaN
 22       1930        NaN
 23       1940        NaN
 24       1930        NaN  ]

This still returns 3 tables. As we remarked above, the table that we want is the first one (see `[0]` below).

In [58]:
df_cities2 = pd.read_html("https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population", storage_options={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)'}, attrs = {'class': 'sortable wikitable sticky-header-multi static-row-numbers sort-under col1left col2center', "style": "text-align:right"})[0]
df_cities2

            City  ST 2024 estimate 2020 census  Change 2020 land area          \
            City  ST 2024 estimate 2020 census  Change            mi2     km2
0    New York[c]  NY       8478072     8804190  −3.70%          300.5   778.3
1    Los Angeles  CA       3878704     3898747  −0.51%          469.5  1216.0
2        Chicago  IL       2721308     2746388  −0.91%          227.7   589.7
3        Houston  TX       2390125     2304580  +3.71%          640.4  1658.6
4        Phoenix  AZ       1673164     1608139  +4.04%          518.0  1341.6
..           ...  ..           ...         ...     ...            ...     ...
341      Deltona  FL        100513       93692  +7.28%           37.3    96.6
342  Federal Way  WA        100252      101030  −0.77%           22.3    57.8
343   San Angelo  TX        100159       99893  +0.27%           59.7   154.6
344        Tracy  CA        100136       93000  +7.67%           25.9    67.1
345      Sunrise  FL        100128       97335  +2.87%           16.2    42.0

    2020 density                                      Location
           / mi2  / km2                               Location
0          29298  11312    40°40′N 73°56′W﻿ / ﻿40.66°N 73.94°W
1           8304   3206  34°01′N 118°25′W﻿ / ﻿34.02°N 118.41°W
2          12061   4657    41°50′N 87°41′W﻿ / ﻿41.84°N 87.68°W
3           3599   1390    29°47′N 95°23′W﻿ / ﻿29.79°N 95.39°W
4           3105   1199  33°34′N 112°05′W﻿ / ﻿33.57°N 112.09°W
..           ...    ...                                    ...
341         2512    970    28°55′N 81°13′W﻿ / ﻿28.91°N 81.21°W
342         4530   1750  47°19′N 122°20′W﻿ / ﻿47.31°N 122.34°W
343         1673    646  31°26′N 100°27′W﻿ / ﻿31.44°N 100.45°W
344         3591   1386  37°44′N 121°27′W﻿ / ﻿37.73°N 121.45°W
345         6008   2320    26°10′N 80°16′W﻿ / ﻿26.17°N 80.26°W

[346 rows x 10 columns]

Wait, that seemed much easier than using Beautiful Soup, and it returned a data frame, and we even got for free some formatting like removing the commas from the population! Why didn't we just use `read_html` in the first place? It's true the `read_html` works well when scraping information from an HTML *table*. Unfortunately, you often want to scrape information from a webpage that isn't conveniently stored in an HTML table, in which case `read_html` won't work. (It only searches for `<table>`, `<th>`, `<tr>`, and `<td>` tags, but there are many other HTML tags.) Though Beautiful Soup is not as simple as `read_html`, it is more flexible and thus more widely applicable.

## Scraping information that is NOT in a `<table>` with Beautiful Soup

The Cal Poly course catalog http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory contains a list of courses offered by the Statistics department. **You will scrape this website to obtain a Pandas data frame with one row for each DATA or STAT course and two columns: course name and number (e.g, DATA 301. Introduction to Data Science) and term typically offered (e.g., Term Typically Offered: F, W, SP).**

Note: Pandas `read_html` is not help here since the courses are not stored in a `<table>.`

In [59]:
pd.read_html("http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory")

[                                        Program name   Program type
 0                              Actuarial Preparation          Minor
 1  Cross Disciplinary Studies Minor in Bioinforma...          Minor
 2   Cross Disciplinary Studies Minor in Data Science          Minor
 3                                         Statistics  BS, MS, Minor]


Notes/suggestions:


- Inspect the page source as you write your code
- The courses are not stored in a `<table>`. How are they stored?
- You will need to write a loop to get the information for all courses, but you might want to try just scraping the info for DATA 100 first
- What kind of tag is the course name stored in? What is the `class` of the tag?
- What kind of tag is the quarter(s) the course is offered stored in? What is the `class` of the tag? Is this the only tag of this type with the class? How will you get the one you want?
- You don't have to remove the number of units (e.g., 4 units) from the course name and number, but you can try it if you want
- You will need to pull the text from the tag. If `.text` returns text with "\n" at the end, try `get_text(strip = True)` instead of `text`
- Don't forget to convert to a Pandas Data Frame; it should have 74 rows and 2 columns
- The goal of this exercise is just to create the Data Frame. If you were going to use it then you might need to clean the data first. (You can use Beautiful Soup to do some of the cleaning for you, but that goes beyond our scope.)

In [ ]:
# YOUR CODE HERE. ADD AS MANY CELLS AS NEEDED

In [60]:
URL = "http://catalog.calpoly.edu/collegesandprograms/collegeofsciencemathematics/statistics/#courseinventory"
HEADERS = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"}

response = requests.get(URL, headers=HEADERS)
soup = BeautifulSoup(response.content, "html.parser")

courses = soup.find_all("div",
                          attrs={
                          "class": "courseblock"
                          }
                  )

course_name = []
term_offered = []

for course in courses:
  course_tag = course.find("p", attrs={"class": "courseblocktitle"})
  if course_tag:
    course_name.append(course_tag.get_text(strip=True))
  else:
    course_name.append(None)

  term_tag = course.find("p", attrs={"class": "noindent"})
  if term_tag:
    term_offered.append(term_tag.get_text(strip=True))
  else:
    term_offered.append(None)

In [62]:
df_courses = pd.DataFrame({
    "Course Name": course_name,
    "Term Offered": term_offered
})
df_courses

,Course Name,Term Offered
0,DATA 100. Data Science for All I.4 units,"Term Typically Offered: F, W, SP"
1,DATA 301. Introduction to Data Science.4 units,"Term Typically Offered: F, W, SP"
2,DATA 401. Data Science Process and Ethics.3 units,Term Typically Offered: F
3,DATA 402. Mathematical Foundations of Data Sci...,Term Typically Offered: F
4,DATA 403. Data Science Projects Laboratory.1 unit,Term Typically Offered: F
...,...,...
69,STAT 551. Statistical Learning with R.4 units,Term Typically Offered: F
70,STAT 566. Graduate Consulting Practicum.2 units,Term Typically Offered: SP
71,STAT 570. Selected Advanced Topics.1-4 units,Term Typically Offered: TBD
72,STAT 590. Graduate Seminar in Statistics.1 unit,"Term Typically Offered: F, W, SP"
73,STAT 599. Thesis.1-4 units,Term Typically Offered: TBD

Hints:

- Each course is represented by a `<div>` with `class=courseblock`, so you can find all the courses with `soup.find_all("div", {"class": "courseblock"})`
- The course name is in a `<p>` tag with `class=courseblocktitle`, inside a `<strong>` tag. (Though I don't think we need to find the strong tag here.)
- The term typically offered is in `<p>` tag with `class=noindent`. However, there are several tags with this class; term typically offered is the first one.
- If you want to use Beautiful Soup to remove the course units (e.g., 4 units), find the `<span>` tag within the course name tag and `.extract()` this span tag